{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/android-chrome-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/android-chrome-512x512.png' %}">
    <link rel="manifest" href="{% static 'img/site.webmanifest' %}">
    <title>{% block title %}Scraping: Əsas səhifə{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/styles.min.css' %}">
</head>

<body>
{% include 'inc/_nav.html' %}
{% block content %}{% endblock %}
{% include 'inc/_footer.html' %}
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>